// Colors
// Background colors
$bg-400:#f9fcff;
$bg-500:#60c9c9;
$bg-600:#aef0f0;

// accent
$accent-100:#3b3c3d;
$accent-200:#1d1c1c;
$accent-300:#fbfbfb;

// ------------------
$accent-400:#daf9f9;
$accent-500:#f9fcff;
// $accent-600:#3cb8c1;
$accent-600:#57c5c5;
$accent-800:#d5e1de;


// text
$text-100:#1d1c1c;
$text-200:#313d44;
$text-300:#fbfbfb;


// FONT
$font-large: cabrito-didone-extended;
$font-medium: poppins;
$font-small: Raleway sans-serif;


// Size
// mobile m
$mobile-m: 375px;

// mobile l
$mobile-l: 425px;

// tablet
$tablet: 768px;

// laptop
$laptop: 1024px;

// desktop
$desktop: 1280px;

// desktop L
$desktop-L: 1440px;


