// Colors
// Background colors
$bg-100:#fff1ec;
$bg-200:#ffbfab;
$bg-300:#ffe9e2;
// -----------------
$bg-400:#f9fcff;
$bg-500:#D1F2EB;
$bg-600:#ecfbf7;

// accent
$accent-100:#3b3c3d;
$accent-200:#1d1c1c;
$accent-300:#fbfbfb;

// ------------------
$accent-400:#a3bfbe;
$accent-500:#f9fcff;
// $accent-600:#3cb8c1;
$accent-600:#adbfbe;
$accent-700:#5691d5;
$accent-800:#d5e1de;


// text
$text-100:#1d1c1c;
$text-200:#313d44;
$text-300:#fbfbfb;


// FONT
$font-large: cabrito-didone-extended;
$font-medium: poppins;
$font-small: Raleway sans-serif;


// Size
// mobile m
$mobile-m: 375px;

// mobile l
$mobile-l: 425px;

// tablet
$tablet: 768px;

// laptop
$laptop: 1024px;

// desktop
$desktop: 1280px;

// desktop L
$desktop-L: 1440px;


