@use "../../styles/partials/Mixins.scss" as *;
@use "../../styles/partials/Global.scss" as *;
@use "../../styles/partials/Variables.scss" as *;

.hero {
   width: 100%;
   overflow: hidden;
   position: relative;
   margin-top: 5.3rem;
   @include tablet {
      margin-top: 3rem;
   }

   &__image {
      width: 100%;
      height: 100%;
      object-fit: contain;
      margin: 0 auto; 
   }
   .slick-dots li button::after {
      position: relative;
      color: white;
   }
}

// Article 1
.article {
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   background-color: $bg-500;
   margin: 1rem 1.5rem;
   @include tablet {
      margin: 2rem 0 1.5rem 0;
      padding: 0 2rem;
   }
    
   &__header {
      letter-spacing: .0625rem;
      font-family: $font-large;
      font-weight: 200;
      font-size: 2rem;
      position: relative;
      color: $text-100;
      text-align: center;
      padding-bottom: .25rem;
      border-bottom: .125rem solid transparent;
      @include mobile-l {
         padding: .25rem .5rem;
      }
      @include tablet {
         font-size: 3rem;
         padding-bottom: .3125rem;
         margin: 0 0 1rem 0;
      }
      &::after {
         content: '';
         position: absolute;
         left: 50%;
         bottom: 0%;
         width: 0%;
         height: 2px;
         background-color: #000;
         transform: translateX(-50%);
         animation: underline-in 1.5s ease forwards;
      }
      @keyframes underline-in {
         0% {
            width: 0%;
         }
         100% {
            width: 100%;
         }
      }
   }
   &__subheader {
      font-size: 1.125rem;
      font-weight: 300;
      margin: 0 0 2rem 0;
      text-align: center;
      @include tablet {
         font-size: 1.25rem;
      }
   }
   &__paragraph-cont {
      display: flex;
      flex-direction: column;
      @include tablet {
         flex-direction: row;
         gap: .75rem;
      }
        
   }
   &__paragraph {
      width: 100%;
      font-family: $font-small;
      opacity: 0;
      font-size: 1.125rem;
      &.fade-in {
         opacity: 0;
         animation: fadeInAnimation 1s ease-in-out forwards;
      }

      @keyframes fadeInAnimation {
         from {
            opacity: 0;
         }
         to {
            opacity: 1;
         }
      }
   }
   &__paragraph:first-of-type::first-letter {
      font-size: 3em; 
      float: left;
      margin: 0.05em 0.1em 0 0; 
      line-height: 0.8; 
      font-family: $font-large; 
      color: $text-100;
   }
   &__villas-button-cont {
      margin: 1.3rem 0;
      display: flex;
      justify-content: center;
      @include tablet {
         display: none;
      }
   }
   &__villas-button {
      text-decoration: none;
      letter-spacing: .125rem;
      color: $text-100;
      border: .0625rem solid $accent-100;
      padding: .5rem .75rem;
      font-family: $font-medium;
      font-size: .9375rem;
      font-weight: 700;
      line-height: 1.25rem;
      transition: all .3s;
      background-color: $accent-500;
      cursor: pointer;
      &:hover {
         background-color: $accent-700;
         color: $text-300;
         border: .0625rem solid $accent-300;
      }
   }
   &__button-cont {
      margin: 1.5rem 0;
   }
   &__button {
      text-decoration: none;
      letter-spacing: .125rem;
      color: $text-100;
      border: .0625rem solid $accent-100;
      padding: .5rem .75rem;
      font-family: $font-medium;
      font-size: .9375rem;
      font-weight: 700;
      line-height: 1.25rem;
      transition: all .3s;
      background-color: $accent-500;
      cursor: pointer;
      &:hover {
         background-color: $accent-700;
         color: $text-100;
         border: .0625rem solid $accent-200;
      }
      &:active {
         background-color: $accent-500;
         color: $text-100; 
         border: .0625rem solid $accent-100;
         outline: none;
      }
   }
}

// Article 2
.article-2 {
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   background-color: $bg-600;

   &__header {
      position: relative;
      padding-bottom: .25rem;
      color: $text-100;
      font-weight: 300;
      font-family: $font-medium;
      font-size: 1.25rem;
      margin: 3rem .7rem 2rem .7rem;
      letter-spacing: .0625rem;
      text-align: center;
      @include tablet {
         font-size: 2rem;
         padding-bottom: .3125rem;
      }
      &::after {
         content: '';
         position: absolute;
         left: 50%;
         bottom: 0%;
         width: 0%;
         height: 2px;
         background-color: #000;
         transform: translateX(-50%);
         animation: underline-in 1.5s ease forwards;
      }
      @keyframes underline-in {
         0% {
            width: 0%;
         }
         100% {
            width: 100%;
         }
      }
   }
   &__container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin: 1rem;
      @include tablet {
         flex-direction: row;
      }
   }
   &__description {
      width: 100%;
      font-family: $font-small;
      margin: .5rem 1rem;
      font-size: 1.125rem;
      @include mobile-l {
         margin: .5rem 2rem;
      }
      @include tablet {
         opacity: 0;
         overflow-y: auto;
         padding: 0 2rem;
         margin: 2rem 0;
      }
      &.fade-in {
         @include tablet {
            opacity: 0;
            animation: fadeInAnimation .5s ease-in-out forwards;
         }
       
      }
      @keyframes fadeInAnimation {
         from {
         opacity: 0;
         }
         to {
         opacity: 1;
         }
      }
      &:first-of-type::first-letter {
         font-size: 3em; 
         float: left;
         margin: 0.05em 0.1em 0 0; 
         line-height: 0.8; 
         font-family: $font-large; 
         color: $text-100;
      }
      &::-webkit-scrollbar {
         @include tablet {
            width: .75rem; 
         }

      }
      &::-webkit-scrollbar-track {
         @include tablet {
            background: transparent; 
         }

      }
      &::-webkit-scrollbar-thumb {
         @include tablet {
            background-color: rgba(0, 0, 0, 0.5); 
            border-radius: .375rem; 
            border: .1875rem solid transparent; 
         }

      }
   }
   &__button-cont {
      margin-bottom: 2rem;
   }
   &__button {
      text-decoration: none;
      letter-spacing: .125rem;
      color: $text-100;
      border: .0625rem solid $accent-100;
      padding: .5rem .75rem;
      font-family: $font-medium;
      font-size: .9375rem;
      font-weight: 700;
      line-height: 1.25rem;
      transition: all .3s;
      background-color: $accent-500;
      cursor: pointer;
      &:hover {
         background-color: $accent-700;
         color: $text-100;
         border: .0625rem solid $accent-200;
      }
      &:active {
         background-color: $accent-500;
         color: $text-100; 
         border: .0625rem solid $accent-100;
         outline: none;
      }
   }
}







   // &__text-overlay {
   //    display: none;
   //    @include mobile-m {
   //    display: flex;
   //    top: 35%;
   //    left: 35%;
   //    position: absolute;
   //    transform: translate(-50%, -50%);
   //    color: $text-300;
   //    font-family: $font-large;
   //    font-weight: 400;
   //    text-align: center;
   //    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
   //    z-index: 1;
   //    font-size: 1.5rem;
   //    letter-spacing: .0625rem;
   //    }
   //    @include mobile-l {
   //       top: 30%;
   //       left: 35%;
   //       font-size: 2rem;
   //    }
   //    @include tablet {
   //       top: 37%;
   //       left: 35%;
   //       font-size: 3.5rem;
   //       letter-spacing: .25rem;
   //    }  
   //    @include laptop {
   //       font-size: 4.5rem;
   //       letter-spacing: .375rem;
   //    }
   //   @include desktop {
   //       top: 35%;
   //       font-size: 5.5rem;
   //       letter-spacing: .5rem;
   //    } 
   // }
   // &__text-overlay-h1 {
   //    display: none;
   //    @include mobile-m {
   //    display: flex;
   //    width: max-content;
   //    font-size: 1.5rem;
   //    top: 92%;
   //    left: 52%;
   //    position: absolute;
   //    transform: translate(-50%, -50%);
   //    color: $text-300;
   //    font-family: $font-large;
   //    font-weight: 400;
   //    text-align: center;
   //    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
   //    z-index: 1;
   //    letter-spacing: .0625rem;
   //    }
   //    @include mobile-l {
   //       top: 92%;
   //       left: 52%;
   //       font-size: 2rem;
   //    }
   //    @include tablet {
   //       top: 93%;
   //       left: 52%;
   //       font-size: 3.5rem;
   //    }
   //    @include laptop {
   //       font-size: 4.5rem;
   //       letter-spacing: .375rem;
   //    }


   // }