@use "../../styles/partials/Mixins.scss" as *;
@use "../../styles/partials/Global.scss" as *;
@use "../../styles/partials/Variables.scss" as *;

.header {
   position: fixed; 
   top: 0;          
   width: 100%;     
   z-index: 1000; 
   display: flex;
   justify-content: space-between;
   align-items: center;
   height: 6rem;
   background-image: linear-gradient(to bottom, #f9fcff 0%, #f9fcff 90%, rgba(213, 232, 255, 0) 100%);
   @include tablet {
      height: 8rem;
   }

   &__logo {
      margin-left: 1rem;
      width: 9rem;
      @include tablet {
         width: 14rem;
         margin-left: 2rem;
      } 
   }

   &__logo-link {
      text-decoration: none;
   }

   &__button {
      display: none;
      @include tablet {
         display: flex;
         text-decoration: none;
         letter-spacing: .125rem;
         color: $text-100;
         border: 1px solid $accent-100;
         padding: .5rem .75rem;
         margin-right: 3rem;
         font-family: $font-medium;
         font-size: .9375rem;
         font-weight: 700;
         line-height: 1.25rem;
         transition: all .3s;
         background-color: $accent-500;
         cursor: pointer;
         @include desktop {
            font-size: 1.125rem;
         }
         @include desktop-L {
            font-size: 1.25rem;
         }
         &:hover {
            background-color: $accent-600;
            color: $text-100;
            border: .0625rem solid $accent-200;
         }
         &:active {
            background-color: $accent-500;
            color: $text-100; 
            border: .0625rem solid $accent-100;
            outline: none;
         }
      
      }
   }  
   &__hamburger {
      width: 2rem;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      transition: all 0.4s ease-in-out;
      height: 1rem;
      margin-right: 2rem;
      @include tablet {
         width: 3rem;
         height: 1.5rem;
         cursor: pointer;
         margin-right: 3rem;
      }

   }

   &__ham-line {
      width: 100%;
      height: .1875rem;
      background-color: #3b3c3d;
      transition: all 0.3s ease-in-out;
   }

   &__hamburger.open .header__ham-line:nth-child(1) {
      width: 1.875rem;
      transform: rotate(45deg) translate(-7.8px, 17px);
      @include tablet {
         width: 1.875rem;
         transform: rotate(45deg) translate(0rem, 1.0625rem);
      }

   }

   &__hamburger.open .header__ham-line:nth-child(2) {
      opacity: 0;
   }

   &__hamburger.open .header__ham-line:nth-child(3) {
      width: 1.875rem;
      transform: rotate(-45deg) translate( 6.5px, -3.5px);
      @include tablet {
         width: 1.875rem;
         transform: rotate(-45deg) translate(.7188rem, -0.0625rem);
      }
   
   }

   &__dropdown {
      position: absolute;
      background-color: $bg-400;
      font-family: $font-medium;
      visibility: hidden;
      list-style: none;
      top: 6rem;
      opacity: 0;
      z-index: 3;
      transition: opacity 0.3s ease, visibility 0.6s ease;
      box-shadow: 0 0.5rem .1rem  rgba(0, 0, 0, 0.2);
      transform: translateY(-0.625rem); 
      width: 100%;
      @include tablet {
         margin: 0rem;
         left: 0%;
         top: 6.5rem;
         padding: .625rem;
      }
   }

   &__dropdown.open {
      width: 100%;
      opacity: 1;
      visibility: visible;
      transform: translateY(3);
      padding: .5rem 0;
      margin: 0;
      @include tablet {
         border-radius: .1875rem;
      }
   
   }

   &__dropdown.hidden {
      opacity: 0;
      visibility: hidden;
   }

   &__drop-item {
      text-align: center;
      margin: 1.5rem 0rem;
      @include tablet { 
         margin: 1.75rem 0rem;
      }
   }

   &__item-link {
      color: $accent-100;
      text-decoration: none;
      letter-spacing: .1875rem;
      font-size: 1.25rem;
      margin: .5rem 2rem;
      font-weight: 600;
      @include tablet {
         letter-spacing: 3px;
         font-size: 1.5rem;
      }
   }
}


